<% layout("/layouts/boilerplate.ejs") %>

<div class="row offset-2 mt-3 col-md-8">
    <div class="alert alert-danger" role="alert">
        <div class="alert-msg">
            <%=message%>
        </div>
      </div>
</div>